<div class="Pmodal-container">
    <div class="Pmodal">
        <div class="box">
            <div class="box-body">
                <div class="box-title">
                    <div class="box-title-text">
                        Sélectionner une difficulté.
                    </div>
                </div>
                <div class="box-content">
                    <a href="{{ path('newGame', { diff: 4 }) }}" class="button" >Facile</a>  <a href="{{ path('newGame', { diff: 6 }) }}" class="button" >Moyen</a>  <a href="{{ path('newGame', { diff: 10 }) }}" class="button" >Difficile</a>  <a href="{{ path('newGame', { diff: 14 }) }}" class="button" >Expert</a>
                </div>
            </div>
        </div>
    </div>
</div>